<% layout("/layouts/boilerplate.ejs") %>
<body>
    <h1>edit post</h1>
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT">
        <input name="listing[title]" placeholder="enter title" type="text" value="<%= listing.title %>">
        <br><br>
        <textarea name="listing[description]" value="<%= listing.description %>" cols="30" rows="10"></textarea>
        <br><br>
        <input name="listing[image]" placeholder="enter image link url" type="text" value="<%= listing.image %>">
        <br><br>
        <input name="listing[location]" placeholder="enter location" type="text" value="<%= listing.location %>">
        <br><br>
        <input name="listing[country]" placeholder="enter country" type="text" value="<%= listing.country %>">
        <br><br>
        <button>edit post</button>
    </form>
</body>
